{% extends 'inventory/base.html' %}  
    {% block content %}
        {% for inventory in inventories %}
        <article>
            <h2><a href="{% url 'user_detail' pk=inventory.pk %}"> {{ inventory.user_id }}.  {{ inventory.first_name}} {{ inventory.last_name }}</a></h2>
            <p>{{ inventory.email |linebreaksbr }}</p>
        </article>
        {% endfor %}
        <button style="background-color: blue; color: white; border: none; padding: 10px;"><a href="{% url 'add_new' %}" style="text-decoration: none; color: white;">Add User</a></button>
    {% endblock %}